<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
            </ion-buttons>
             
            <ion-title>
                Frage stellen 
              </ion-title>
      <ion-buttons start>
  <ng-template [ngIf]="this.auth.isInRole('authenticated user')" [ngIfElse]="headerOut">
              <button ion-button (click)="this.gotoLogin()">
                  <img class="avatar" src="{{this.auth.user.picture}}"> {{auth.user.name}}        
                </button>
  </ng-template>      
  <ng-template #headerOut>
              <button ion-button (click)="this.gotoLogin()">
              <ion-icon name="contact"></ion-icon>  {{auth.user.name}}
              </button>
  </ng-template>
      </ion-buttons>    
    </ion-navbar>

</ion-header>

<ion-content padding>

    <div *ngIf="help" class="help">   
        <ion-item>
            <ion-label text-wrap>
                <h2>Rechtsfrage stellen.</h2>
                <p>Wenn sie Ihre Rechtsfrage nicht anonym stellen wollen, können sie ihre Frage einfach in unserer Facebookgruppe Rechtsforum Schweiz stellen. </p>
              
               <h2>Anonyme Rechtsfrage stellen.</h2>
               <p>Sie können je nach Gerät über Browser oder Handy via Dateisystem,Webcam,Kamera bis zu 5 Dateien zu ihrer Frage hochladen. Klicken sie auf den upload Button um die ausgewählten Dateien einzeln hochzuladen oder "Alle Hochladen" um alle ausgewählten Dateien zur Frage anzuhängen.</p>
                <p>Nachdem Sie Ihre Frage gestellt haben, wird sie auf AWRI als "nicht veröffentlicht" gespeichert.</p>
                <p>Sobald ein Admin ihre Frage freigeschalten hat wird sie anonym auf AWRI sowie in der Facebookgruppe Rechtsforum Schweiz veröffentlicht und diskutiert. </p>
                <p>Sobald ein Admin ihre Frage freigeschalten hat wird sie anonym auf AWRI sowie in der Facebookgruppe Rechtsforum Schweiz veröffentlicht und diskutiert. </p>

              </ion-label>
         </ion-item>
</div>

  <ng-template [ngIf]="this.auth.isInRole('authenticated user')" [ngIfElse]="loggedOut">
    <ion-title>Ihre Rechtsfrage wird anonym gestellt</ion-title>
    
      <ion-label text-wrap>Bitte beschreiben Sie den Sachverhalt möglichst genau und wählen Sie den betreffenden Kanton aus.</ion-label>
      <ion-label text-wrap color="danger">Erwähnen Sie keine persönlichen Daten wie Namen Adressen,Telefonnummern, etc.</ion-label>
      <ion-label text-wrap color="danger">Ihre Frage wird durch einen Admin geprüft und freigeschalten.</ion-label>
    
    <form #createForm="ngForm" (ngSubmit)="sendFrage()">

        <ion-input type="hidden" value="{{this.auth.user.name}}" name="username" disabled></ion-input>
        <ion-input type="hidden" value="{{this.auth.user.fbid}}" name="username" disabled></ion-input>
        <ion-item>
            <ion-label>Kanton</ion-label>

            <ion-select [(ngModel)]="kanton" name="kanton" (ionChange)="selectKanton($event)">

                <ion-option *ngFor="let item of kantone" value="{{item.name}}" id="{{item.tid}}">{{item.name}}</ion-option>

            </ion-select>
          </ion-item>       
        <ion-item>
          <ion-label>*Ihre Rechtsfrage</ion-label>
          <ion-textarea required [(ngModel)]="todo.description" name="description"></ion-textarea>
        </ion-item>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button class="submit-btn" full type="submit"
                [disabled]="!createForm.form.valid">Frage senden
        </button>        
      </form>
    </ng-template>

      <upload MAX_UPLOADS=3 fieldname="images"></upload>

    <ng-template #loggedOut> 
        <ion-label color="danger" text-wrap><h2><ion-img  src="assets/imgs/anonymous.png"></ion-img> Sie sind nicht angemeldet!</h2></ion-label>
        <ion-label text-wrap>Bitte melden sie sich an um anonyme Rechtsfragen zu stellen.</ion-label>
        <button ion-button small (click)="gotoLogin()">Anmelden</button>
        <form #createForm="ngForm" (ngSubmit)="sendFrage()">
            <ion-item>
              <ion-label>Name</ion-label>
              <ion-input type="text" value="{{this.auth.username}}" name="username" disabled></ion-input>
            </ion-item>
                <ion-input type="hidden" value="{{this.auth.fbid}}" name="username" disabled></ion-input>
              <ion-item>
                  <ion-label>Kanton</ion-label>
                  <ion-select [(ngModel)]="kanton" name="kanton" (ionChange)="selectKanton($event)" disabled>
                      <ion-option *ngFor="let item of kantone" value="{{item.name}}" id="{{item.tid}}">{{item.name}}</ion-option>
      
                  </ion-select>
                </ion-item>       
              <ion-item>
                <ion-label color="danger">*Ihre Rechtsfrage</ion-label>
                <ion-textarea required [(ngModel)]="todo.description" name="description" disabled></ion-textarea>
              </ion-item>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              <button ion-button class="submit-btn" full type="submit"
              disabled>Frage senden
              </button>        
            </form>
    </ng-template>
    </ion-content>
